openai
# Preferred is
llama-index
# Deprecated?
#gpt_index
#gpt-index
pypdf
PyPDF2
gradio
docx2txt
torch
transformers
sentencepiece
Pillow
# Use specific version
protobuf==4.25.8
#protobuf==3.19.4
git+https://github.com/openai/whisper.git